/************************** Header (Navigation Bar) **************************/

header {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 1; /* Note: z-index of page-title is 0 */
  background-color: WhiteSmoke;
}

/* Container for logo, website name, and menu*/
.navigation-bar {
  width: 100%;
  min-width: 1000px;
  margin: auto;
}

.logo {
  display: inline-block;
  padding-left: 5%;
  padding-right: 20px;
  float: left;
  height: 40px;
}

.website-name {
  display: inline-block;
  float: left;
  color: #474747;
  font-family: "Jost";
  font-weight: 450;
  font-size: 30px;
}

/* Appearance of website name (Joyce Shen) doesn't change as a link */
.website-name a {
  color: inherit;
  text-decoration: inherit;
}

/* Menu */
nav ul {
  display: inline-block;
  line-height: 10px; /* Vertically aligns to logo and name */
  list-style-type: none;
  float: right;
  padding-right: 5%;
}

/* Menu Items */
nav li {
  display: inline-block;
  padding-left: 30px;
  font-family: "Jost";
  font-size: max(15.8px,min(1.60vw,20px));
 /* resizes text between 16 and 20 px */
}

/* Appearance of menu items doesn't change as a link */
nav li a {
  color: inherit;
  text-decoration: none;
}

/* Inactive nav link is light gray */
nav .inactive {
  color: #909090;
  font-weight: 450;
  text-decoration: none;
}

/* Selected nav link is dark gray and bold */
nav .selected {
  color: #474747;
  font-weight: 500;
  text-decoration: none;
}

/* 'UI/UX Design' turns orange on hover */
#nav-ui-ux-design:hover {
  color: #ffa600;
  transition: .2s ease;
}

/* 'Art' turns red on hover */
#nav-art:hover {
  color: #ed263c;
  transition: .2s ease;
}

/* 'Yearbook' turns blue on hover */
#nav-yearbook:hover {
  color: #004bdd;
  transition: .2s ease;
}

/* 'Graphic Design' turns yellow on hover */
#nav-graphic-design:hover {
  color: #ffba00;
  transition: .2s ease;
}

/* 'Product/Interior Design' turns pink on hover */
#nav-product-design:hover {
  color: #ed254e;
  transition: .2s ease;
}





/************************** Body Content **************************/

body {
  overflow: auto;
  width: 100%;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  background-color: WhiteSmoke;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Decrease space between paragraphs */
p {
  margin: 10px 0;
}

/* Color of link doesn't change */
a {
  color: inherit;
}

/* Banner */
.banner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page title */
.page-title {
  top: 120px;
  margin: auto;
  position: relative;
  border: 7px solid white;
  text-align: center;
  color: white;
  font-family: "Jost";
  font-size: 66px;
  text-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  -webkit-text-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  box-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  -webkit-box-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  /* width of border is set in the code for individual pages */
}

/* Section title (ex. Yearbook Layouts, Yearbook Pictures)*/
.section-title {
  margin: auto;
  position: relative;
  text-align: center;
  text-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  -webkit-text-shadow: 4px 5px 7px rgba(0,0,0,0.15);
  font-weight: 450;
  color: white;
  font-family: "Jost";
}

/* Gallery: gray background box, main body of page */
.gallery {
  width: 60%;
  min-width: 900px;
  max-width: 1800px;
  position: relative;
  top: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 65px;
  color: #474747;
  background-color: WhiteSmoke;
  font-size: 14px;
}
/* Different colored shadows for each page*/
#design-process .gallery {box-shadow: 1px 2px 8px rgba(166,111,12,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(166,111,12,0.4);}
#art .gallery {box-shadow: 1px 2px 8px rgba(166,12,19,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(166,12,19,0.4);}
#yearbook .gallery {box-shadow: 1px 2px 8px rgba(12,63,160,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(12,63,160,0.4);}
#graphic-design .gallery {box-shadow: 1px 2px 8px rgba(166,124,12,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(166,124,12,0.4);}
#product-design .gallery {box-shadow: 1px 2px 8px rgba(166,12,43,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(166,12,43,0.4);}

/* Container for image and overlay */
.image {
  position: relative;
  max-width: 100%;
}

/* Row of images (for Art and Yearbook (Photos) pages*/
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 750px;
  max-width: 1650px;
  margin: auto;
}

/* Spacing between images */
.row div {
  margin: 10px;
}

/* Width of image in each row */
.row img {
  display: block;
  max-width: 100%;
}

/* To ensure image heights line up in every row, format aspect ratios of each photo */
/* See code in #art and #yearbook section */

/* Image in the container .image */
.image img {
  display: block;
}

/* Overlay when hovering over image */
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  /* Note: overlay is slightly shifted in .row layouts
  (art and yearbook (photo) page), see code below */
  height: 100%;
  width: 100%;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0);
}

/* Shift overlay to line up with images */
.row .overlay {
  top: -10px;
  left: -10px;
}

/* Image description in overlay */
.image-description {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  max-width: 600px;
  opacity: 0;
  overflow: auto;
  color: white;
  font-size: 12px;
  transition: .5s ease;
}

/* Bold and resize description title*/
.description-title {
  margin-top: 0px;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 600;
}

/* Change overlay opacity from 0 to 0.5 when hovering*/
.image:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Change description opacity from 0 to 1 when hovering*/
.image:hover .image-description {
  opacity: 1;
}

/* Footer */
footer {
  width: 100%;
  height: 130px;
  top: 150px;
  padding-top: 50px;
  position: relative;
  text-align: center;
  font-family: "Jost";
  font-size: 16px;
  color: white;
}

/* Appearance of link doesn't change */
footer a {
  text-decoration: inherit;
}

/* Footer Logos */
footer #logo {
  height: 30px;
  margin: 10px 10px 0 10px;
}





/**************************** Home Page ****************************/

/* All links in navigation are dark gray instead of light gray*/
#index nav li {
  color: #474747;
}

/* Appearance of link doesn't change */
#index a {
  text-decoration: inherit;
}

/* Image for intro section banner */
#index #intro-banner {
  width: 100%;
  height: 85vh;
  min-height: 600px;
  max-height: 700px;
  overflow: hidden;
  background-color: #1730d6;
  background-image: url("media/white-background-more-transparent.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section for all bird circles */
#index .bird-circle-container {
  width: 56%;
  min-width: 580px;
  height: 85vh; /* same as intro-banner*/
  min-height: 600px; /* same as intro-banner*/
  max-height: 700px; /* same as intro-banner*/
  /* center aligns vertically */
  top: calc(50% + 30px);
  transform: translateY(-50%);
  /**/
  left: calc(44% + 10px);
  position: relative;
  overflow: hidden;
}

/* Bird circles */
#index .bird-circle {
  width: 28vh;
  min-width: 200px;
  max-width: 230px;
  position: absolute;
}

/* Identical bird circles with different background colors */
#index .bird-circle-hover {
  opacity: 0;
  transition: opacity .2s ease-out;
}

/* Bird circle changes background color when hovered */
#index .bird-circle-hover:hover {
  opacity: 1;
}

/* Intro statement */
#index #introduction {
  width: 35%;
  min-width: 510px;
  max-height: 430px;
  left: 7%;
  top: min(170px,max(130px,18vh));
  position: absolute;
  overflow: auto;
  color: white;
}

/* Large text in intro statement */
#index #introduction h1 {
  font-family: "Jost";
  font-size: 7.5em;
  margin: 0px;
}

/* Small description text */
#index #introduction p {
  font-size: 1.1em;
}

/* About section */
#index #about {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

/* Images in about section */
#index #about img {
  position: absolute;
}

/* Text in about section */
#index #about-description {
  width: 26%;
  max-height: 300px;
  position: absolute;
  overflow: scroll;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

/* Header in about section*/
#index #about-description h2 {
  margin: 0 0 5px 0;
  font-family: "Jost";
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: 0px;
  color: #1730d6;
}

/* Main text in about section */
#index #about-description p {
  font-size: 1.1em;
  color: #474747;
}

/* List of subpage title buttons */
#index #page-list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -20px 0; /* accounts for 20px margin on page-title-containers*/
  color: #474747;
}

/* Subpage title button */
#index .page-title-container {
  width: 220px;
  height: 90px;
  position: relative;
  display: inline-block;
  margin: 20px;
}

/* Hand-drawn rectangle */
#index .page-title-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

/* Doodle background overlays subpage title buttons */
#index .doodles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("media/white-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Text in subpage title button */
#index .page-title-container h3 {
  width: 100%;
  height: 24px;
  position: absolute;
  margin: 0;
  padding: 33px 0; /* centers text in textbox */
  text-align: center;
  line-height: 1.2;
  font-family: "Jost";
  font-size: 24px;
  font-weight: 500;
  color: white;
  transition: .2s ease;
}

/* Text size increases when hovered */
#index .page-title-container h3:hover {
  transform: scale(1.1);
}


/* Footer settings */
#index footer {
  top: -10px;
  height: 130px;
}





/**************************** UI/UX Page ****************************/

/* Image for background */
#ui-design body {
  background-image: url("media/orange-background.png");
}

/* Set width of box around page title and position */
#ui-design .page-title {
  width: 540px;
}

/* Change padding of gallery (container for all content) */
#ui-design .gallery {
  padding: 0px;
  width: 1020px;
  /* min-width: 1050px;
  max-width: 1950px; */
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Project Sections */
#ui-design .project {
  display: block;
  position: relative;
  margin: 0;
  overflow: hidden;
  box-shadow: 1px 2px 8px rgba(130,82,12,0.4);
  -webkit-box-shadow: 1px 2px 8px rgba(130,82,12,0.4);
  background-color: WhiteSmoke;
}

/* Tea Mobile Project Section */
#ui-design #tea-mobile {
  width: 100%;
  height: 450px;
  margin-bottom: 40px;
}

/* Breezy Ice Cream Project Section*/
#ui-design #breezy-ice-cream {
  width: 100%;
  height: 450px;
  margin-bottom: 40px;
}

/* Oversubscribed Project Section */
#ui-design #oversubscribed {
  height: 600px;
  width: 40%;
  margin-right: 40px;
}

/* StreetEats Project Section */
#ui-design #streeteats {
  height: 600px;
  width: 60%;
}

/* Container for colored block in background of project section */
#ui-design .rectangle {
  width: 700px; /* random big number */
  height: 500px; /* random big number */
  position: absolute;
}

/* Doodle background overlays handrawn color blocks */
#ui-design .doodles {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  background-image: url("media/white-background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Project Name */
#ui-design .project h1 {
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  font-family: "Jost";
  margin: 0px;
}

/* Project description */
#ui-design .project p {
  position: absolute;
  font-size: 14px;
  overflow: scroll;
}

/* Images */
#ui-design .project img {
  position: absolute;
  cursor: pointer;
  /*-webkit-filter: drop-shadow(3px 5px 5px rgb(0,0,0,0.39));
  filter: drop-shadow(3px 5px 5px rgb(0,0,0,0.35));*/
}

/* Button for 'Prototype' and 'Design Process' */
#ui-design .button {
  position: absolute;
  display: inline-block;
  margin: 0px;
  padding: 7px 14px;
  border: 3px solid;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: transform .2s;
}

/* Section title scales up on hover */
#ui-design .button:hover {
  transform: scale(1.05);
}

/* CSS for positioning and scaling individual elements is in HTML code */

/* Image for background */
#design-process body {
  background-image: url("media/orange-background.png");
}

/* Create two rows for gallery (gray background box)*/
#design-process .gallery {
  width: 75%;
  padding: 75px;
  top: 140px;
  display: flex;
  flex-direction: row;
}

/* Sidebar table of contents */
#design-process .table-of-contents {
  position: sticky;
  position: -webkit-sticky;
  top: 120px;
  width: 20%;
  height: 320px;
  padding-right: 30px;
}

/* Appearance of link doesn't change*/
#design-process .table-of-contents a {
  text-decoration: inherit;
  color: inherit;
}

/* Table of contents links change color on hover */
#design-process .table-of-contents a:hover {
  color: #ffa600;
  transition: .2s ease;
}

/* Content: main portion of page, next to sidebar */
#design-process .content {
  margin-top: -10px;
  position: relative;
  width: 80%;
}

/* Page title */
#design-process h1 {
  margin: 0 0 10px 0;
  font-size: 36px;
  font-family: "Jost";
  font-weight: 500;
}

/* Section title */
#design-process h2 {
  margin: 0 0 20px 0;
  font-size: 28px;
  font-family: "Jost";
  font-weight: 500;
}

/* Sidebar title */
#design-process h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-family: "Jost";
  font-weight: 450;
  color: #474747;
}

#design-process p {
  margin: 0 0 20px 0;
}

#design-process .gallery ul {
  margin: 0 0 20px 0;
}

/* Adjust spacing between wireframe images*/
#design-process .wireframe {
  width: 23.1%;
  padding: 5px;
}

/* Adjust spacing between mockup images*/
#design-process .mockup {
  width: 31.5%;
  padding: 5px;
}

/* Scrollable images for long wireframes and mockups*/
#design-process .scrollable-image {
  width: 23.1%;
  margin: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: top;
}

/* Image fills its scrollable container */
#design-process .scrollable-image img {
  width: 100%;
}

/* Adjust height of an scrollable image so that it scales with the width */
#design-process #tea-mobile-wireframes .scrollable-image {
  height: max(27.4vw, 328px);
}

/* Adjust height of an scrollable image so that it scales with the width */
#design-process #tea-mobile-mockups .scrollable-image {
  height: max(29.8vw, 357px);
}





/**************************** Art Page ****************************/

/* Image for background */
#art body {
  background-image: url("media/red-background.png");
}

/* Set width of box around page title */
#art .page-title {
  width: 230px;
}

/* Format aspect ratio of each image; image heights line up in every row */
/* aspect ratio = width / height */
#art #ruin { flex: calc(1800 / 1273); }
#art #away { flex: calc(3068 / 2277); }
#art #laundry-day { flex: calc(3724 / 2980); }
#art #mandrill { flex: calc(2726 / 3394); }
#art #self-portrait { flex: calc(2586 / 3203); }
#art #lakeview { flex: calc(3618 / 2897); }
#art #adore-me-too { flex: calc(1369 / 1710); }
#art #natures-glitch{ flex: calc(2927 / 3744); }
#art #alter-seago { flex: calc(2400 / 1874); }
#art #in-n-out { flex: calc(1712 / 1980); }
#art #northern-bald-ibis { flex: calc(2718 / 2755); }
#art #animal-sketches { flex: calc(3410 / 2516); }
#art #oceans-ways { flex: calc(7650 / 9900); }
#art #the-day-after-yesterday { flex: calc(3880 / 1634); }
#art #bikini-bottom { flex: calc(1800 / 3600); }
#art #beryl-flare { flex: calc(4800 / 2700); }
#art #final-december { flex: calc(3445 / 3301); }
#art #fine-line { flex: calc(7088 / 3300); }
#art #twentyten-part-1 { flex: calc(3258 / 1904); }





/**************************** Yearbook Page ****************************/

/* Image for background */
#yearbook body {
  background-image: url("media/blue-background.png");
}

/* Override gallery padding */
#yearbook .gallery {
  padding-top: 5px;
}

/* Set width of box around page title */
#yearbook .page-title {
  width: 450px;
}

/* Box for page section (Yearbook Layouts / Yearbook Photos) */
#yearbook .page-section {
  width: 400px;
  height: 60px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("media/blue-background.png");
}

/* Section title */
#yearbook .section-title {
  top: 10px;
  font-size: 30px;
}

/* Image grid */
#yearbook .grid {
  margin: auto;
  padding: 10px;
  width: 100%;
  min-width: 750px;
  max-width: 1650px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* Image in grid */
#yearbook .grid img {
  width: 100%;
}

/* Format aspect ratio of each image; image heights line up in every row */
/* aspect ratio = width / height */
#yearbook .portrait { flex: calc(1365 / 2048); }
#yearbook .landscape { flex: calc(2048 / 1365); }





/**************************** Graphic Design Page ****************************/

/* Image for background */
#graphic-design body {
  background-image: url("media/yellow-background.png");
}

/* Set width of box around page title */
#graphic-design .page-title {
  width: 640px;
}

/* Place columns side by side and center align */
#graphic-design .gallery {
  display: flex;
  justify-content: center;
}

/* Set width of each column */
#graphic-design .column {
  width: 33%;
  min-width: 240px;
  max-width: 480px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Bottom padding on images + their overlay */
#graphic-design .column .image {
  margin: 10px 0;
}

/* Image spans width of column */
#graphic-design .column .image img {
  width: 100%;
  vertical-align: middle;
}





/************************ Product/Interior Design Page ************************/

/* Image for background */
#product-design body {
  background-image: url("media/pink-background.png");
}

/* Set width of box around page title and position */
#product-design .page-title {
  width: 950px;
}

/* Format aspect ratio of each image; image heights line up in every row */
/* aspect ratio = width / height */
#product-design #bamboo { flex: calc(5786 / 2800); }
#product-design #peingu { flex: calc(3300 / 5100); }
#product-design #jingles { flex: calc(7200 / 3665); }
#product-design #twentyten-part-2 { flex: calc(1762 / 992); }





/**************************** Modal ****************************/

/****************************
Title: W3.CSS
Author: W3Schools
Date:
Code version:
Availability:
Location: https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_modal_lightbox
****************************/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: calc(50vh - 270px); /* Vertically aligns image; 50% of screen
                                   minus half the height of modal content
                                   (540 / 2 px) */
  padding-bottom: calc(50vh - 270px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  overflow: auto;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin-top: -12vh; /* "raises" modal for mobile */
  margin-left: auto;
  margin-right: auto;
}

/* Modal Image Containers */
.modal-content .image-container {
  position: relative;
  margin-top: 80px; /* "lowers" modal for web */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: min(800px,max(63vh,450px));
}

/* Modal Images */
.modal-content .image-container img {
  position: relative;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  /* Vertically align images in container*/
  top: 50%;
  transform: translateY(-50%);
}

/* Caption text */
.modal-content .caption-container {
  display: block;
  position: relative;
  bottom: 0px;
  width: 50%;
  max-width: 800px;
  height: min(17vh, 400px);
  margin: 20px auto 0 auto; /* center aligns container */
  text-align: center;
  overflow: auto;
  color: white;
  font-family: "Open Sans";
  font-size: 12px;
}


/* The Close Button */
.close {
  color: white;
  opacity: 0.3;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 30px;
  font-size: 48px;
  transition: 0.2s ease;
}

.close:hover,
.close:focus {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}


/* Hide the slides by default */
.mySlides {
  display: none;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 30px);
  transform: translateY(-50%);
  width: auto;
  margin: 1%;
  padding: 16px;
  color: white;
  opacity: 0.3;
  font-size: 36px;
  transition: 0.2s ease;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, change opacity of buttons from 0.3 to 0.5 */
.prev:hover,
.next:hover {
  opacity: 0.7;
}
