/* Special Gallery Widths */

/* MARTA */
.project .marta-gallery img {
  width: calc(30% - 24px);
}
.project .marta-gallery div {
	width: calc(70% - 24px);
}
@media only screen and (max-width: 768px) {
	html .project .marta-gallery > * {
		width: 100%;
	}
}


/* MBB */
.project .mbb-intro-gallery img {
	width: calc(65% - 24px);
}
.project .mbb-intro-gallery div {
	width: calc(35% - 24px);
}
.project .mbb-feature-gallery {
	width: 150%;
	margin-left: -25%;
	justify-content: space-between;
}
.project .mbb-feature-gallery .left {
	width: calc(24.4% - 36px);
}
.project .mbb-feature-gallery .right {
	width: calc(75.6% - 36px);
}
@media only screen and (max-width: 768px) {
	.project .mbb-feature-gallery {
		width: 100%;
		margin-left: 0;
	}
	html .project .mbb-intro-gallery > *, 
	html .project .mbb-feature-gallery .left, html .project .mbb-feature-gallery .right  {
		width: 100%;
	}
}
.project .mbb-feature-gallery .web {
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.05);
}


/*MoodFood*/
.project .moodfood-gallery > div {
	width: calc(65% - 24px);
}
.project .moodfood-gallery > div > .first {
	margin-top: 0;
} 
.project .moodfood-gallery > div > .last {
	margin-top: 0;
} 
.project .moodfood-gallery > div > img {
	margin-left: 0;
} 
.project .moodfood-gallery > p {
	width: calc(65% - 24px);
}

.project .moodfood-gallery > img {
	width: calc(35% - 24px);
}
@media only screen and (max-width: 768px) {
	html .project .moodfood-gallery > * {
		width: 100%;
	}
}


