#resume .content {
  margin: calc(var(--header-height) + 48px) auto 0 auto;
  width: 60%;
}
@media only screen and (max-width: 1048px) {
  #resume .content {
      width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  #resume .content {
      width: 90%;
  }
}
#resume h1 {
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-semibold-font-weight);
}
@media only screen and (max-width: 1048px) {
  #resume h1 {
    font-size: var(--heading-2-font-size);
  }
}

#resume .embed-wrapper {
  width: 100%;
  /* aspect-ratio: 8.5/11; */
}

#resume #adobe-dc-view {
  /* width: 850px;
  height: 1100px; */
  width: 100%;
  /* margin: 85px auto 0 auto; */
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.07);
}