
.project #intro {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin-top: calc(var(--header-height) + 36px);
}
.project #intro-text {
	width: 25%;
	padding-left: 7.5%;
	padding-right: 36px;
}
.project #intro-image {
	width: calc(75% - 7.5% - 36px);
	height: 420px;
}
.project #intro-image img {
	width: 100%;
	height: 100%;
}
.project #intro-image .cover {
	object-fit: cover;
}
.project #intro-image .contain {
	object-fit: contain;
}
@media only screen and (max-width: 768px) {
  .project #intro {
      margin-top: var(--header-height);
  }
  .project #intro-text {
    width: 100%;
    padding: 0 15% 36px 15%;
  }
  .project #intro-image {
    width: 100%;
    height: 300px;
  }
}

.project .section {
  padding: 96px 25%;
}
.project .gray-bg {
	background-color: #f2f2f2;
}
@media only screen and (max-width: 1100px) {
	.project .section {
		padding-left: 15%;
		padding-right: 15%;
	}
}

.project hr {
	width: 50%;
	border: 0;
  	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 1100px) {
	.project hr {
		width: 70%;
	}
}


.project img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.project .xxs-img {
  width: 25%;
}
.project .xs-img {
  width: 50%;
}
.project .s-img {
  width: 75%;
}
.project .m-img {
  width: 100%;
}
.project .l-img {
	width: 125%;
	margin-left: -12.5%;
}
.project .xl-img {
	width: 150%;
	margin-left: -25%;
}
.project .xxl-img {
	width: 175%;
	margin-left: -37.5%;
}
.project .mobile-gif {
	box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
}
/* IDK WHY .PROJECT ISNT WORKING */
@media only screen and (max-width: 768px) {
	.section img:not(.fixed-width-img) { 
		min-width: 75%;
	}
	.project .l-img, .project .xl-img, .project .xxl-img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.section .restrict-height {
		max-height: 60vh; /* I think height works here too */
		object-fit: contain;
	}
}
@media only screen and (max-width: 1100px) {
	.project .xl-img, .project .xxl-img {
		width: 125%;
		margin-left: -12.5%;
	}
}
@media only screen and (max-width: 600px) {
	.section img:not(.fixed-width-img) {
		min-width: 100%;
	}
}
@media only screen and (min-width: 2000px) {
	.project .l-img, .project .xl-img, .project .xxl-img {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.project .caption {
	color: var(--secondary-text-color);
	font-size: 0.9em;
	margin: auto;
	margin-top: 18px;
	line-height: var(--line-height);
}
.project .xs-caption {
	width: 50%;
}
@media only screen and (max-width: 768px) {
	.project .caption { 
		min-width: 75%;
	}
}
@media only screen and (max-width: 600px) {
	.project .caption {
		min-width: 100%;
	}
}

.project .featured-text {
	width: 100%;
	padding: 18px;
	background-color: var(--background-color);
	box-shadow: 2px 8px 24px 0px #00000012;
	box-sizing: border-box;
	line-height: var(--line-height);
}

.project li {
	margin: 9px;
	line-height: var(--line-height);
}

.project .gallery {
	width: calc(100% + 24px);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin: -12px;
}
.project .gallery * {
	min-width: 0;
	max-width: 100%;
}
.project .gallery > * {
	margin: 12px;
}
.project .double-gallery > * {
	width: calc(100%/2 - 24px);
}
.project .triple-gallery > * {
	width: calc(100%/3 - 24px);
}
@media only screen and (max-width: 768px) {
	.project .gallery > * {
		width: 100%;
	}
}

.project .directory {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding-bottom: 0;
}
.project .directory > * {
	margin: 9px 18px;
	font-family: var(--title-font);
	font-weight: 500;
	text-decoration: none;
	font-size: 1.1em;
	color: var(--secondary-text-color);
	transition: 0.15s ease-in-out;
}
.project .directory > *:hover {
	color: var(--accent-color);
}
.project .directory #selected {
	color: var(--primary-text-color);
	font-weight: 600;
}
.project .directory #selected:hover {
	color: var(--accent-color);
}


/* File specific */
.project .gba-border {
	border: solid var(--primary-text-color);
	border-radius: 4px;
	border-width: 4px 8px;
}
/* Different restrict height for 2 images in MoodFood */
@media only screen and (max-width: 768px) {
	.section .restrict-height-custom-1 {
		max-height: 104vh; /* I think height works here too */
		object-fit: contain;
	}
	.section .restrict-height-custom-2 {
		max-height: 93vh; /* I think height works here too */
		object-fit: contain;
	}
}
/* Lazy solution to the box shadow issue on restrict-height images */
@media only screen and (max-width: 768px) {
	.project .mobile-gif {
        -webkit-filter: drop-shadow(2px 6px 20px rgba(0, 0, 0, 0.05));
        filter: drop-shadow(2px 6px 20px rgba(0, 0, 0, 0.05));
		box-shadow: none;
		border-radius: none;
	}
}
@media only screen and (max-width: 768px) {
	.project .row-reverse-gallery { 
		flex-direction: row-reverse;
	}
}

