#about .content {
    width: 60%;
    margin: calc(var(--header-height) + 48px) auto 0 auto;
}
@media only screen and (max-width: 768px) {
    #about .content {
        width: 80%;
    }
}
#about h2 {
    font-size: var(--heading-4-font-size);
    font-weight: var(--heading-semibold-font-weight);
}

#about .intro {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

#about .intro .text-container {
    width: calc(55% - 2rem);
}

#about .intro .big-text {
    font-size: var(--heading-3-font-size);
    font-weight: var(--heading-semibold-font-weight);
    font-family: var(--title-font);
    line-height: 140%;
    margin: 0;
}

#about .intro .small-doodle {
    vertical-align: text-top;
}

#about .intro .image-container {
    width: calc(45% - 2rem);
}

#about .intro .image-container img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #about .intro .text-container, #about .intro .image-container {
        width: 100%;
    }
    #about .intro .image-container {
        width: 60%;
    }
}


#about .experiences {
    display: flex;
    flex-wrap: wrap;
    margin: -18px;
}

#about .experience {
    margin: 18px;
    width: calc(50% - 36px);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-column-gap: 18px;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    #about .experience {
        width: 100%;
    }
}

#about .experience img {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    border-radius: 6px;
    background-color: var(--darker-background-color);
}

#about .experience .text {
    margin: 0;
    padding: 0;
    display: grid;
    /* gap: 6px; */
    list-style-type: none;
}

#about .experience .text > * {
    margin: 0;
    line-height: var(--line-height);
}


#about .activity {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-column-gap: 18px;
    align-items: start;
}

#about .activity img {
    width: 120px;
    height: 120px;
    border: 1px solid var(--primary-text-color);
    border-radius: 12px;
    background-color: var(--darker-background-color);
}

#about .activity p {
    margin: 0;
    padding: 0;
}