#index .content {
    margin: calc(var(--header-height) + 60px) auto 0 auto;
    width: 80%;
}
@media only screen and (max-width: 600px) {
  #index .content {
    width: 90%;
  }
}

#index #top-space {
  margin-top: 25vh;
}
@media only screen and (min-height: 1080px) {
  #index #top-space {
    margin-top: 144px;
  }
}
@media only screen and (max-width: 768px) {
  #index #top-space {
    margin-top: 0;
  }
}

#index #top-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 24px;
}
#index #intro {
  flex: 1 1;
}
@media only screen and (max-width: 768px) {
  #index #intro {
    flex-basis: 100%;
  }
}

#index #intro h1 {
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-semibold-font-weight);
  margin: 0;
  position: relative;
  transform: translateY(-100%);
  animation: moveDown 0.5s ease forwards;
}
#index #intro h2 {
  font-size: var(--heading-1-font-size);
  font-weight: normal;
  margin: 0;
  position: relative;
  transform: translateY(-100%);
  animation: moveDown 0.5s ease forwards 0.25s;
}
#index #intro .p-container {
  position: relative;
  transform: translateY(-200%);
  animation: moveDown 0.5s ease forwards 0.5s;
}
#index #intro .p-container p{
  margin: 6px 0 0 0;
}
#index #intro .p-container a {
  color: inherit;
}
/* #index #intro .p-container:nth-child(1) {
  margin: 30px 0 0 0;
} */
#index .gray-text {
  color: var(--light-secondary-text-color);
}
#index #image-container {
  flex: 0 0 237px;
  /* animation: fadeIn 0.5s ease forwards; */
}
@media only screen and (max-width: 1048px) {
  #index #intro h1, #index #intro h2 {
    font-size: var(--heading-2-font-size);
  }
}



#index #down-arrow-wrapper {
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease forwards;
}
#index #down-arrow {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  font-weight: 100;
}
.bounce {
    animation: 1675ms bounce 1s infinite;
}
@keyframes bounce {
  0%, 30%, 60%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-.5em);
  }
  40% {
    transform: translateY(-.5em);
  }
}


#index .projects-container {
  opacity: 0;
  animation: fadeIn 1s ease forwards 0.5s;
}

#index .project {
  display: block;
  text-decoration: none;
  color: inherit;
}
#index .project-border-outline {
  outline: 1px solid transparent;
  outline-offset: 30px;
  border-radius: 0.001px;
  transition: 0.2s ease-in-out;
}
#index .project-border-outline:hover {
  outline-color: var(--light-stroke-color);
}

#index .project .tag {
  margin-bottom: 36px;
}
#index .project h3 {
  font-size: var(--heading-1-font-size);
  font-weight: var(--heading-semibold-font-weight);
  margin: 0 0 0px 0;
}
@media only screen and (max-width: 1048px) {
  #index .project h3 {
    font-size: var(--heading-2-font-size);
  }
}
#index .project .heading-arrow {
  transition: 0.2s ease-in-out;
}
#index .project:hover .heading-arrow {
  margin-left: 12px;
}
#index .project .description {
  margin: 18px 0 42px 0;
}
#index #intro .p-container p{
  margin: 6px 0 0 0;
}


/* Image */
#index .project-image-wrapper {
  position: relative;
  min-width: 0;
  height: 450px;
  overflow: hidden;
}
#index .project-image-wrapper img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease-in-out;
}
#index .project-image-wrapper .img-contain {
  max-width: 100%;
  max-height: 100%;
}
#index .project-image-wrapper .img-fill {
  max-width: 100%;
}
/* Web only */
@media only screen and (min-width: 768.001px) {
  #index .project:hover .project-image-wrapper .img-contain {
    max-width: 103%;
    max-height: 103%;
  }
  #index .project:hover .project-image-wrapper .img-fill {
    max-width: 103%;
  }
}
/* Mobile only */
@media only screen and (max-width: 768px) {
  #index .project-image-wrapper { /* Full width */
    height: auto;
  }
  #index .project-image-wrapper img {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 100%;
    max-height: 100%;
  }
}
#index #roblox { background: #2C3237; }
#index #mbb { background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(153deg, #4D6BF5 11.64%, #A08FE0 90.26%); }
#index #moodfood { background: linear-gradient(330.3deg, #6B85DF 7.07%, #1231D5 87.66%); }
#index #lacework { background: linear-gradient(330deg, #E2F4FF 7.07%, #86C2FF 87.66%); }

#index .project .hover-overlay {
  background-color: white;
  opacity: 0;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#index .project:hover .hover-overlay {
  opacity: 0.075;
}
