#playground .content {
    width: 60%;
    margin: calc(var(--header-height) + 48px) auto 0 auto;
}

@media only screen and (max-width: 1048px) {
    #playground .content {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    #playground .content {
        width: 90%;
    }
}

#playground h1 {
    font-size: var(--heading-1-font-size);
    font-weight: var(--heading-semibold-font-weight);
    margin-top: 0;
}
#playground .h1-description {
    font-weight: normal;
}
#playground .h1-icon {
    vertical-align: text-top;
}
@media only screen and (max-width: 1048px) {
    #playground h1 {
        font-size: var(--heading-2-font-size);
    }
    #playground .h1-icon {
        height: 40px;
    }
}

#playground .gallery {
    width: 100%;
    columns: 290px 2;
    column-gap: 48px;
    min-height: auto;
    margin-bottom: -48px;
}
  
#playground .gallery .grid-item {
    margin-bottom: 48px;
    break-inside: avoid-column; /*problematic on firefox*/
}
  
#playground .gallery .grid-item > img {
    max-height: 600px; /*orig 450px*/
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
    display: block;;
}

#playground .gallery .grid-item p {
    margin-bottom: 0;
}

#playground .small-doodle {
    vertical-align: text-top;
    padding-right:3px;
}



