#playground .content {
    width: 60%;
    margin: calc(80px + 18px) auto 0 auto;
}

#playground #playground-graphic {
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: -1;
    overflow: visible;
}

#playground #playground-graphic > ellipse {
    /* height: calc(1.4em + 4%);
    width: calc(5em + 12%); */
    rx: 6.75rem;
    ry: 2rem;
    stroke: var(--primary-text-color);
    stroke-dasharray: 6px;
    stroke-dashoffset: 3px;
    stroke-width: 1px;
    fill: var(--highlight-color);
}

#playground #cursor {
    width: 24px;
    position: absolute;
    bottom: -40%;
    left: 95%;
}

#playground .gallery {
    width: 100%;
    columns: 300px 2;
    column-gap: 48px;
    min-height: auto;
}
  
#playground .gallery .grid-item {
    margin-bottom: 48px;
    break-inside: avoid-column; /*problematic on firefox*/
}
  
#playground .gallery .grid-item img {
    max-height: 600px; /*orig 450px*/
    max-width: 100%;
    width: auto;
    margin: auto;
    cursor: pointer;
    display: block;
}



