/* Special Gallery Widths */

/* MARTA */
.project .marta-gallery img {
  width: calc(30% - 24px);
}
.project .marta-gallery div {
	width: calc(70% - 24px);
}
@media only screen and (max-width: 768px) {
	html .project .marta-gallery > * {
		width: 100%;
	}
}


/* MBB */
.project .mbb-intro-gallery img {
	width: calc(65% - 24px);
}
.project .mbb-intro-gallery div {
	width: calc(35% - 24px);
}
.project .mbb-feature-gallery p {
	width: calc(70% - 24px);
}
.project .mbb-feature-gallery > div {
	width: calc(30% - 24px);
}
@media only screen and (max-width: 768px) {
	html .project .mbb-intro-gallery > *, 
	html .project .mbb-feature-gallery > * {
		width: 100%;
	}
}


/*MoodFood*/
.project .moodfood-gallery > div {
	width: calc(70% - 24px);
}
.project .moodfood-gallery > div > .first-p {
	margin-top: 0;
} 
.project .moodfood-gallery > div > .last-p {
	margin-top: 0;
} 
.project .moodfood-gallery > div > img {
	margin-left: 0;
} 
.project .moodfood-gallery > p {
	width: calc(70% - 24px);
}

.project .moodfood-gallery > img {
	width: calc(30% - 24px);
}
@media only screen and (max-width: 768px) {
	html .project .moodfood-gallery > * {
		width: 100%;
	}
}


