#index .beginning {
  width: 65%;
  min-width: 49rem;
  max-width: 70rem;
  height: auto;
  /*height: 70vh;
  min-height: 500px;
  max-height: 600px;*/
  min-height: 18em;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  object-fit: contain;
  position: relative;
}

#index .beginning .text-container {
  width: 59%;
  position: absolute;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

#index #greeting1 {
  height: 1.2em;
  padding: 0;
  font-weight: 600;
  position: relative;
  background-color: none;
  top: 0;
  /*left: calc(50% - 2.6em);*/
  font-family: "Poppins";
  font-size: 3.8em; /*orig 3.4*/
}


#index #intro {
  padding-top: 1.6em;
  /*width: 20em;*/
  /*margin: auto;*/
  position: relative;
  margin-top: -0.3em;
  font-family: "Mulish";
  font-size: 1.275em; /*orig 1.25em*/
  font-weight: 1.2em;
  line-height: 1.7em; /*originally 1.4, then 1.6*/
}

.half-highlight {
  background: linear-gradient(to top, #ffe5ba 45%, transparent 45%);
  font-weight: 650; /*orig 650*/
}

#index .doodle {
  position: relative;
  display: block;
  float: right;
  width: 34%;
  height: auto;
  overflow: auto;
  /*transform: rotate(2deg);*/
}

#index .doodle #doodles-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

#index .doodle img {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

#index .doodle #circle {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#index #view-work-below {
  width: 65%;
  min-width: 49rem;
  max-width: 70em;
  margin: auto;
  position: relative;
  font-size: 1.1em;
  color: #909090;
}

#index .first-br {
  height: 12vh;
  max-height: 10em;
}

#index .second-br {
  height: 26vh;
  max-height: 17em;
}

#index .grid {
  justify-content: center;
  width: calc(65% + 3rem);
  min-width: 52rem;
  max-width: 73rem;
  margin: auto;
}

#index .grid-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  line-height: 1.8;
  width: 100%;
  margin-bottom: 6em;
}

/*@media only screen and (max-width: 1100px) {
  #index .grid-item {
    width: 75%;
  }
}*/

#index .thumbnail-active, #index .thumbnail-inactive {
  width: calc(65% - 3rem);
  min-height: 250px;
  height: 23em; /*orig 27.5vw*/
  margin: 0 1.5rem;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

#index .thumbnail-active:hover {
  opacity: 80%; /*background-size: 103%;*/
}

#index .thumbnail-inactive:hover {
  opacity: 100%;
  cursor: default;
}

#index #marta-thumbnail {
  background-image: url("../media/index/marta.png");
  background-color: #FCD034;
}

#index #homeroom-thumbnail {
  background-image: url("../media/index/homeroom.png");
  background-color: #7acfff; /*old: #B1E3FF*/
}

#index #scheduler-thumbnail {
  background-image: url("../media/index/scheduler.png");
  background-color: #F69979;
}

#index #library-thumbnail {
  background-image: url("../media/index/library.png");
  background-color: #beb8ff; 
}

#index #ui-exercises-thumbnail {
  background-image: url("../media/index/weekly-ui.png");
  background-color: #B1BCD0; /*#B9C0FF*/
}

#index #tea-mobile-thumbnail {
  background-image: url("../media/index/tea-mobile.png");
  background-color: #AB7F71;
}

#index #ice-cream-thumbnail {
  background-image: url("../media/index/ice-cream.png");
  background-color: #FF858C; /* orig #FF757D */
}

#index .description {
  width: calc(35% - 3rem);
  margin: -1em 1.5rem 0 1.5rem;
}

#index .description h2 {
  font-size: 1.8em; /* orig 1.15 with Nunito Sanssh */
  font-weight: 500;
  font-family: "Poppins";
  line-height: 1.5;
  text-align: left;
}

#index .description p {
  margin: -0.4em 0 1.7em 0;
  font-size: 1.1em;
}

#index .description .skill {
  line-height: 0.8;
  margin-bottom: 1.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  font-size: 0.9em;
  display: inline-block;
  color: #909090;
  font-weight: 300;
  background-color: #f0f0f0;
}

#index .description .button-active, #index .description .button-inactive {
  background-color: white;
  color: #363636;
  font-size: 1em;
  font-weight: 650;
  font-family: "Mulish";
  letter-spacing: 0.02em;
  border: 1px solid #363636;
  border-radius: 0.3em;
  padding: 0.7em 1.2em;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

#index .description .button-active:hover {
  background-color: #363636;
  color: white;
}

#index .description .button-inactive {
  background-color: white;
  color: #ababab;
  border: 1px solid #ababab;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  #index .beginning {
    min-height: 25em;
    overflow: visible;
  }
  #index #intro {
    font-size: 1.5em;
  }
  #index .thumbnail {
    width: 100%;
    height: 29em;
  }
  #index #view-work-below {
    font-size: 1.5em;
  }
  #index .description {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  #index .description h2 {
    margin-top: 1.5em;
    margin-bottom: 0.7em;
  }
  #index .description p {
    margin-bottom: 1.2em;
  }
}

#index .footer {
  margin-top: 7em;
}
