#playground .content {
    width: 60%;
    margin: calc(var(--header-height) + 48px) auto 0 auto;
}

@media only screen and (max-width: 768px) {
    #playground .content {
        width: 80%;
    }
}

#playground .big-text {
    font-size: var(--heading-3-font-size);
    font-weight: var(--heading-semibold-font-weight);
    font-family: var(--title-font);
    line-height: 140%;
    margin: 0;
}

#playground .doodle {
    vertical-align: text-top;
}

/* #playground #playground-graphic {
    position: absolute;
    top: 53%;
    left: 50%;
    z-index: -1;
    overflow: visible;
} */

/* #playground #playground-graphic > ellipse {
    rx: 5.9rem;
    ry: 1.9rem;
    stroke: var(--primary-text-color);
    stroke-dasharray: 6px;
    stroke-dashoffset: 3px;
    stroke-width: 1px;
    fill: var(--accent-color);
} */

/* #playground #cursor {
    width: 24px;
    position: absolute;
    bottom: -40%;
    left: 95%;
} */

#playground .gallery {
    width: 100%;
    columns: 300px 2;
    column-gap: 48px;
    min-height: auto;
    margin-bottom: -48px;
}
  
#playground .gallery .grid-item {
    margin-bottom: 48px;
    break-inside: avoid-column; /*problematic on firefox*/
}
  
#playground .gallery .grid-item > img {
    max-height: 600px; /*orig 450px*/
    max-width: 100%;
    width: auto;
    margin: auto;
    cursor: pointer;
    display: block;
}

#playground .gallery .grid-item p {
    margin-bottom: 0;
}

#playground .small-doodle {
    vertical-align: text-top;
    padding-right:3px;
}



