#about .content {
    width: 80%;
    margin: calc(var(--header-height) + 60px) auto 0 auto;
}
@media only screen and (max-width: 768px) {
    #about .content {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    #about .content {
        width: 90%;
    }
}
#about .intro {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}

#about .intro .text-container {
    width: calc(55% - 30px);
}

#about h1 {
    font-size: var(--heading-1-font-size);
    font-weight: var(--heading-semibold-font-weight);
    margin: 0;
    animation: moveDown 0.5s ease forwards;
}
#about #smiley {
    width: 48px;
    margin-left: 6px;
    vertical-align: text-top;
  }
@media only screen and (max-width: 1048px) {
    #about h1 {
      font-size: var(--heading-2-font-size);
    }
    #about #smiley {
        width: 40px;
    }
}

#about .intro .image-container {
    width: calc(45% - 30px);
}

#about .intro .image-container img {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    #about .intro .text-container, #about .intro .image-container {
        width: 100%;
    }
    #about .intro .image-container {
        width: 60%;
    }
}
@media only screen and (max-width: 375px) {
    #about .intro .image-container {
        width: 100%;
    }
}

#about .custom-intro-space {
    margin-top: 60px;
}