#about .content {
    width: 60%;
    margin: calc(var(--header-height) + 18px) auto 0 auto;
}
@media only screen and (max-width: 768px) {
    #about .content {
        width: 80%;
        margin-top: var(--header-height);
    }
}

#about .intro {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
}

#about .intro .text-container {
    width: calc(55% - 2rem);
}

#about .intro .text-container h1 {
    margin-top: 0;
}

#about .intro .image-container {
    width: calc(45% - 2rem);
}

#about .intro .image-container img {
    width: 100%;
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    #about .intro h1 {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 900px) {
    #about .intro .text-container, #about .intro .image-container {
        width: 100%;
    }
    #about .intro .image-container {
        width: 60%;
    }
}


#about .experience {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-column-gap: 18px;
}

#about .experience img {
    width: 100%;
}

#about .experience .text {
    margin: 0;
    padding: 0;
    display: grid;
    /* gap: 6px; */
    list-style-type: none;
}

#about .experience .text > * {
    margin: 0;
    line-height: var(--line-height);
}


#about .fun-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 48px;
    row-gap: 36px;
    justify-content: center;
}

#about .fun-gallery > * {
    flex-grow: .6;
    flex-basis: 180px;
}

#about .fun-gallery img {
    width: 100%;
}
